/* Iosevka web */
@font-face {
  font-family: "Iosevka Fixed Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/Iosevka/Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Fixed Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/Iosevka/Bold.woff2") format("woff2");
}

:root {
  --c-thp: #f472b6;
  --c-php: #4f5b93;
  --c-html: #dc4a20;
  --c-zig: #f7a41d;

  --font-display: "Playfair Display", "Atkinson Hyperlegible", sans-serif;
  --font-body: "Atkinson Hyperlegible", sans-serif;
  --font-code: "Iosevka Fixed Web", "Iosevka Nerd Font", Iosevka, monospace;
}

[x-cloak] { display: none !important; }

:root {
  --c-bg: var(--c-bg-dark);
  --c-text: var(--c-text-dark);
  --c-border-1: var(--c-border-1-dark);
  --c-text-2: var(--c-text-2-dark);
  --c-primary: var(--c-primary-dark);
  --c-purple: var(--c-purple-dark);
  --c-purple-dark: var(--c-purple-light-dark);
  --c-box-shadow: var(--c-box-shadow-dark);
  --c-pink: var(--c-pink-dark);
  --c-link: var(--c-link-dark);
  --c-nav-bg: var(--c-nav-bg-dark);
  --c-secondary: var(--c-secondary-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --c-bg: var(--c-bg-light);
    --c-text: var(--c-text-light);
    --c-text-2: var(--c-text-2-light);
    --c-purple: var(--c-purple-light);
    --c-purple-light: var(--c-purple-light-light);
    --c-box-shadow: var(--c-box-shadow-light);
    --c-primary: var(--c-primary-light);
    --c-pink: var(--c-pink-light);
    --c-link: var(--c-link-light);
    --c-border-1: var(--c-border-1-light);
    --c-nav-bg: var(--c-nav-bg-light);
    --c-secondary: var(--c-secondary-light);
  }
}

body.dark {
  --c-bg: var(--c-bg-dark);
  --c-text: var(--c-text-dark);
  --c-border-1: var(--c-border-1-dark);
  --c-text-2: var(--c-text-2-dark);
  --c-primary: var(--c-primary-dark);
  --c-purple: var(--c-purple-dark);
  --c-purple-dark: var(--c-purple-light-dark);
  --c-box-shadow: var(--c-box-shadow-dark);
  --c-pink: var(--c-pink-dark);
  --c-link: var(--c-link-dark);
  --c-nav-bg: var(--c-nav-bg-dark);
  --c-secondary: var(--c-secondary-dark);
}

body.light {
    --c-bg: var(--c-bg-light);
    --c-text: var(--c-text-light);
    --c-text-2: var(--c-text-2-light);
    --c-purple: var(--c-purple-light);
    --c-purple-light: var(--c-purple-light-light);
    --c-box-shadow: var(--c-box-shadow-light);
    --c-primary: var(--c-primary-light);
    --c-pink: var(--c-pink-light);
    --c-link: var(--c-link-light);
    --c-border-1: var(--c-border-1-light);
    --c-nav-bg: var(--c-nav-bg-light);
    --c-secondary: var(--c-secondary-light);
}

html {
  font-size: 16px;
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 17px;
  }
}

body {
  font-family: var(--font-body);
}

@media only screen and (max-width: 600px) {
  #editor {
    font-size: 0.9em;
  }
}

pre,
code {
  font-family: var(--font-code);
}

.button-effect-receiver {
  transition: transform 150ms;
}

.button-effect:hover .button-effect-receiver {
  transform: translateX(-3px) translateY(-3px);
}

.markdown p {
  margin: 0.75rem 0;
}

/* Used by headers generated from markdown */
.heading-linked :hover::after {
  color: var(--c-primary);
  content: "#";
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  margin-left: 0.5rem;
}

.heading-linked :hover {
  text-decoration: underline var(--c-primary);
}
