---
const { error_type = "Unknown", error_message } = Astro.props;
---

<div class="px-4 py-2 rounded bg-red-200 dark:bg-red-950">
    <span class="inline-block font-bold">{error_type} error:</span>
    <span class="inline-block whitespace-pre-wrap">{error_message}</span>
</div>
