---
import { trimAndDedent } from "./utils";

const { thpcode } = Astro.props;
---

<div class="flex h-full py-8 items-center">
    <div class="p-4 w-full">
        <pre
            class="language-thp"
            data-language="thp"><code class="language-thp">{trimAndDedent(thpcode).join("\n")}</code></pre>
    </div>
</div>
