---
import Code from "./Code.astro"

const { thpcode } = Astro.props;
---

<div class="flex h-full py-8 items-center">
    <div class="p-4 w-full">
        <Code thpcode={thpcode} />
    </div>
</div>
